*.o
*.pyc
*.vcg
.DS_Store
/.metadata/
/BUGS
/TODO
/x10.common/classes
/x10.compiler/ArraySum*.class
/x10.compiler/ArraySum*.java
/x10.compiler/_*.dot
/x10.compiler/_*.pdf
/x10.compiler/classes
/x10.constraints/classes
/x10.constraints/common/
/x10.dist/bin/java_x10rt
/x10.dist/bin/runjava
/x10.dist/bin/runx10
/x10.dist/bin/setupX10
/x10.dist/bin/x10
/x10.dist/bin/x10c
/x10.dist/bin/x10cj
/x10.dist/bin/x10doc
/x10.dist/etc
/x10.dist/include
/x10.dist/lib
/x10.dist/stdlib
/x10.dist/x10firm-testsuite
/x10.doc/classes
/x10.doc/classes/
/x10.firm/classes
/x10.firm_runtime/build/
/x10.firm_runtime/classes
/x10.firm_runtime/gen
/x10.runtime/classes
/x10.runtime/src-cpp/bdwgc
/x10.runtime/src-cpp/bdwgc-7.2d
/x10.runtime/src-cpp/gen
/x10.runtime/src-cpp/libx10.mft
/x10.runtime/src-cpp/libx10.properties
/x10.runtime/src-cpp/libx10.so
/x10.runtime/src-cpp/sharedlib.properties
/x10.runtime/src-java/gen
/x10.runtime/x10rt/*.tgz
/x10.runtime/x10rt/bin
/x10.runtime/x10rt/etc
/x10.runtime/x10rt/include/pgasrt.h
/x10.runtime/x10rt/include/pgasrt_config.h
/x10.runtime/x10rt/include/pgasrt_hbrd.h
/x10.runtime/x10rt/include/pgasrt_hbrdcoll.h
/x10.runtime/x10rt/include/pgasrt_misc.h
/x10.runtime/x10rt/include/pgasrt_msg.h
/x10.runtime/x10rt/include/pgasrt_smp.h
/x10.runtime/x10rt/include/pgasrt_smpcoll.h
/x10.runtime/x10rt/include/pgasrt_tsp.h
/x10.runtime/x10rt/include/pgasrt_tspcoll.h
/x10.runtime/x10rt/include/pgasrt_types.h
/x10.runtime/x10rt/include/x10_x10rt_ActiveMessage.h
/x10.runtime/x10rt/include/x10_x10rt_MessageHandlers.h
/x10.runtime/x10rt/include/x10_x10rt_TeamSupport.h
/x10.runtime/x10rt/include/x10_x10rt_X10RT.h
/x10.runtime/x10rt/include/x10_x10rt_X10RT_State.h
/x10.runtime/x10rt/lib/
/x10.runtime/x10rt/pgas-20100916-linux_x86_g++4-sockets.tgz
/x10.runtime/x10rt/sockets/X10Launcher
/x10.runtime/x10rt/test
/x10.runtime/x10rt/test/x10rt_basic.pgas_sockets*
/x10.runtime/x10rt/test/x10rt_basic.sockets*
/x10.runtime/x10rt/test/x10rt_basic.standalone*
/x10.runtime/x10rt/test/x10rt_coll.pgas_sockets*
/x10.runtime/x10rt/test/x10rt_coll.sockets*
/x10.runtime/x10rt/test/x10rt_coll.standalone*
/x10.runtime/x10rt/test/x10rt_gups.pgas_sockets*
/x10.runtime/x10rt/test/x10rt_gups.sockets*
/x10.runtime/x10rt/test/x10rt_gups.standalone*
/x10.runtime/x10rt/test/x10rt_topology.pgas_sockets*
/x10.runtime/x10rt/test/x10rt_topology.sockets*
/x10.runtime/x10rt/test/x10rt_topology.standalone*
/x10.wala/bin/
hs_err_*.log
