/.metadata/

/x10.dist/bin/java_x10rt
/x10.dist/bin/setupX10
/x10.dist/bin/x10
/x10.dist/bin/x10c
/x10.dist/etc
/x10.dist/include
/x10.dist/lib
!x10.dist/lib/libfirm.so

/x10.compiler/classes/

/x10.common/classes/

/x10.constraints/classes/
/x10.constraints/common/

*.o
/x10.runtime/classes
/x10.runtime/src-cpp/gen
/x10.runtime/src-java/gen
/x10.runtime/src-cpp/libx10.mft
/x10.runtime/src-cpp/libx10.so
/x10.runtime/x10rt/lib/
/x10.runtime/x10rt/include/pgasrt.h
/x10.runtime/x10rt/include/pgasrt_config.h
/x10.runtime/x10rt/include/pgasrt_hbrd.h
/x10.runtime/x10rt/include/pgasrt_hbrdcoll.h
/x10.runtime/x10rt/include/pgasrt_misc.h
/x10.runtime/x10rt/include/pgasrt_msg.h
/x10.runtime/x10rt/include/pgasrt_smp.h
/x10.runtime/x10rt/include/pgasrt_smpcoll.h
/x10.runtime/x10rt/include/pgasrt_tsp.h
/x10.runtime/x10rt/include/pgasrt_tspcoll.h
/x10.runtime/x10rt/include/pgasrt_types.h
/x10.runtime/x10rt/include/x10_x10rt_ActiveMessage.h
/x10.runtime/x10rt/include/x10_x10rt_X10RT.h
/x10.runtime/x10rt/test/x10rt_basic.pgas_sockets
/x10.runtime/x10rt/test/x10rt_basic.standalone
/x10.runtime/x10rt/test/x10rt_gups.pgas_sockets
/x10.runtime/x10rt/test/x10rt_gups.standalone
/x10.runtime/x10rt/test/x10rt_topology.pgas_sockets
/x10.runtime/x10rt/test/x10rt_topology.standalone
