[submodule "jFirm"]
	path = jFirm
	url = http://pp.info.uni-karlsruhe.de/git/jFirm.git
[submodule "libfirm"]
	path = libfirm
	url = http://pp.info.uni-karlsruhe.de/git/libfirm.git
[submodule "liboo"]
	path = liboo
	url = http://pp.info.uni-karlsruhe.de/git/liboo.git
[submodule "cparser"]
	path = cparser
	url = http://pp.info.uni-karlsruhe.de/git/cparser.git
	fetchRecurseSubmodules = no
[submodule "octopos-app"]
	path = octopos-app
	url = gitolite@invasic.informatik.uni-erlangen.de:octopos-app
[submodule "bdwgc"]
	path = bdwgc
	url = http://pp.info.uni-karlsruhe.de/git/bdwgc.git
