[submodule "jFirm"]
	path = jFirm
	url = http://pp.info.uni-karlsruhe.de/GIT/jFirm.git
[submodule "libfirm"]
	path = libfirm
	url = http://pp.info.uni-karlsruhe.de/GIT/libfirm.git
[submodule "liboo"]
	path = liboo
	url = http://pp.info.uni-karlsruhe.de/GIT/liboo.git
