[submodule "jFirm"]
	path = jFirm
	url = http://pp.info.uni-karlsruhe.de/git/jFirm.git
[submodule "libfirm"]
	path = libfirm
	url = http://pp.info.uni-karlsruhe.de/git/libfirm.git
[submodule "liboo"]
	path = liboo
	url = http://pp.info.uni-karlsruhe.de/git/liboo.git
